<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>GUI</title>

    <link rel="stylesheet" href="../resource/css/styles.css" />
  </head>

  <body class="dark text-gray-800">
    <!-- Header -->
    <div class="flex mx-12 my-6">
      <div class="flex self-center w-64 space-x-2">
        <span class="text-6xl font-semibold">10</span>
        <div>
          <div class="text-xl font-semibold text-gray-300">Lun</div>
          <div class="text-xl font-semibold text-gray-300">Jan 2020</div>
        </div>
      </div>
      <div class="flex self-center w-full justify-end space-x-1">
        <button
          class="
            flex-none flex
            items-center
            justify-center
            px-6
            py-2
            rounded-md
            bg-purple-100
            text-xl
            font-semibold
            text-purple-500
          "
          type="button"
          aria-label="like"
        >
          Today
        </button>
        <button
          class="
            fle6-none
            flex
            items-center
            justify-center
            px-2
            py-2
            rounded-md
            bg-gray-100
            text-gray-300
          "
          type="button"
          aria-label="like"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2.25"
              d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
            />
          </svg>
        </button>
      </div>
    </div>

    <!-- Days -->
    <div class="bg-white grid place-items-center sm:px-6">
      <nav class="relative z-0 inline-flex space-x-6" aria-label="Pagination" 6>
        <a
          href="#"
          class="
            relative
            inline-flex
            items-center
            px-2
            py-2
            bg-white
            text-sm
            font-medium
            text-gray-500
          "
        >
          <span class="sr-only">Previous</span>
          <!-- Heroicon name: solid/chevron-left -->
          <svg
            class="h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd"
            />
            6
          </svg>
        </a>

        <a
          href=""
          aria-current="page"
          class="
            rounded-lg
            shadow-sm
            bg-purple-500
            text-pruple-600
            px-2
            py-2
            relative
            text-sm text-center
          "
        >
          <span class="block text-base font-medium text-gray-100"> Lun </span>
          <span class="block text-2xl text-white font-semibold"> 6 </span>
        </a>
        <a
          href=""
          aria-current="page"
          class="
            px-2
            py-2
            relative
            rounded-lg
            text-sm text-center
            hover:shadow-sm hover:bg-purple-100
          "
        >
          <span class="block text-base font-medium text-gray-300"> Mar </span>
          <span class="block text-2xl font-semibold"> 2 </span>
        </a>
        <a
          href=""
          aria-current="page"
          class="
            px-2
            py-2
            relative
            rounded-lg
            text-sm text-center
            hover:shadow-sm hover:bg-purple-100
          "
        >
          <span class="block text-base font-medium text-gray-300"> Mer </span>
          <span class="block text-2xl font-semibold"> 3 </span>
        </a>
        <a
          href=""
          aria-current="page"
          class="
            px-2
            py-2
            relative
            rounded-lg
            text-sm text-center
            hover:shadow-sm hover:bg-purple-100
          "
        >
          <span class="block text-base font-medium text-gray-300"> Jeu </span>
          <span class="block text-2xl font-semibold"> 4 </span>
        </a>
        <a
          href=""
          aria-current="page"
          class="
            px-2
            py-2
            relative
            rounded-lg
            text-sm text-center
            hover:shadow-sm hover:bg-purple-100
          "
        >
          <span class="block text-base font-medium text-gray-300"> Ven </span>
          <span class="block text-2xl font-semibold"> 5 </span>
        </a>
        <a
          href=""
          aria-current="page"
          class="
            px-2
            py-2
            relative
            rounded-lg
            text-sm text-center
            hover:shadow-sm hover:bg-purple-100
          "
        >
          <span class="block text-base font-medium text-gray-300"> Sam </span>
          <span class="block text-2xl font-semibold"> 6 </span>
        </a>
        <a
          href=""
          aria-current="page"
          class="
            px-2
            py-2
            relative
            rounded-lg
            text-sm text-center
            hover:shadow-sm hover:bg-purple-100
          "
        >
          <span class="block text-base font-medium text-gray-300"> Dim </span>
          <span class="block text-2xl font-semibold"> 7 </span>
        </a>
        <a
          href="#"
          class="
            relative
            inline-flex
            items-center
            px-2
            py-2
            bg-white
            text-sm
            font-medium
            text-gray-500
          "
        >
          <span class="sr-only">Next</span>
          <!-- Heroicon name: solid/chevron-right -->
          <svg
            class="h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      </nav>
    </div>

    <!-- Day Content -->
    <div class="mx-12 my-4 border-t border-gray-100">
      <div class="hide sm:block flex flex-row mt-2 mb-6 text-lg font-semibold text-gray-300">
        <span>Time</span>
        <span class="ml-12">Course</span>
        <button>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
            />
          </svg>
        </button>
      </div>

      <div class="space-y-4 text-left">

        <div class="flex flex-col sm:flex-row">
          <div class="mt-1 space-x-3 sm:space-x-0">
            <span class="inline-block sm:block text-1xl sm:text-2xl">08:00</span>
            <span class="inline-block sm:block text-lg text-gray-300 text-1xl">09:35</span>
          </div>
          <div class="w-full sm:ml-8 p-4 bg-purple-500 rounded-xl text-white">
            <h3 class="mt-1font-bold text-2xl">Mathematics</h3>
            <p class="mt-1 text-sm">SI-T1a</p>
            <p class="mt-4">SC-C311</p>
            <p class="">DE-LAMEGO-RESENDE Ana</p>
          </div>
        </div>

        
        <div class="flex flex-col sm:flex-row">
          <div class="mt-1 space-x-3 sm:space-x-0">
            <span class="inline-block sm:block text-1xl sm:text-2xl">08:00</span>
            <span class="inline-block sm:block text-lg text-gray-300 text-1xl">09:35</span>
          </div>
          <div class="w-full sm:ml-8 p-4 bg-gray-100 rounded-xl">
            <h3 class="mt-1font-bold text-2xl">Module: CLD1</h3>
            <p class="mt-1 text-sm">SI-T1a</p>
            <p class="mt-4">SC-C311</p>
            <p class="">Hurni Pascal</p>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
