<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>GUI</title>

    <!-- CSS !-->
    <link rel="stylesheet" href="../../resource/css/styles.css" />

     <!-- JS !-->
     <script type="text/javascript" src="../../resource/js/darkMode.js" defer></script>
  </head>

  <div class="mx-12">
    <div class="container mx-auto">

      <!-- This example requires Tailwind CSS v2.0+ -->
      <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
          <!--
            Background overlay, show/hide based on modal state.

            Entering: "ease-out duration-300"
              From: "opacity-0"
              To: "opacity-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100"
              To: "opacity-0"
          -->
          <div class="fixed inset-0 bg-black bg-opacity-85 transition-opacity" aria-hidden="true"></div>

          <!-- This element is to trick the browser into centering the modal contents. -->
          <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

          <!--
            Modal panel, show/hide based on modal state.

            Entering: "ease-out duration-300"
              From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              To: "opacity-100 translate-y-0 sm:scale-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100 translate-y-0 sm:scale-100"
              To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          -->
          <div class="inline-block align-bottom bg-main rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:align-middle sm:max-w-lg sm:w-full dark:bg-mainDark">
                <div class="mx-6 my-5 bg-main text-left dark:bg-mainDark">

                    <div class="pb-4 border-b-2 border-light-gray-500 text-black dark:text-white">
                        <div class="flex">
                        <div class="flex flex-wrap self-center w-full space-x-2 dark:text-fourthDark">
                            <h3 class="flex font-bold text-2xl">Mathematics</h3>
                        </div>
                        <div class="flex place-content-between justify-end space-x-1">
                            <button class="p-1 rounded-md bg-third text-second dark:text-secondDark dark:bg-thirdDark" type="button" aria-label="like">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                                </svg>
                            </button>
                        </div>
                        </div>
                        <p class="">SI-T1a</p>
                        <p class="">SC-C311</p>
                        <p class="">DE-LAMEGO-RESENDE Ana</p>
                        <p class="">8:00 - 9:35</p>
                    </div>

                    <div class="py-4">
                        <button class="relative my-1 py-3 w-full rounded-md bg-third font-semibold text-black dark:bg-thirdDark dark:text-white" type="button" aria-label="like">
                            <span class="uppercase">Lastname</span>
                            <span>Firstname</span>
                        </button>       
                        <button class="relative my-1 py-3 w-full rounded-md bg-third font-semibold text-black dark:bg-thirdDark dark:text-white" type="button" aria-label="like">
                            <span class="uppercase">Lastname</span>
                            <span>Firstname</span>
                        </button>       
                        <button class="relative my-1 py-3 w-full rounded-md bg-third font-semibold text-black dark:bg-thirdDark dark:text-white" type="button" aria-label="like">
                            <span class="uppercase">Lastname</span>
                            <span>Firstname</span>
                        </button>       
                        <button class="relative my-1 py-3 w-full rounded-md bg-third font-semibold text-black dark:bg-thirdDark dark:text-white" type="button" aria-label="like">
                            <span class="uppercase">Lastname</span>
                            <span>Firstname</span>
                        </button>       
                        <button class="relative my-1 py-3 w-full rounded-md bg-third font-semibold text-black dark:bg-thirdDark dark:text-white" type="button" aria-label="like">
                            <span class="uppercase">Lastname</span>
                            <span>Firstname</span>
                            <div class="absolute right-1 bottom-1 px-4 rounded-md bg-second uppercase text-xs text-main dark:bg-secondDark dark:text-fourthDark">
                                Late
                            </div>
                        </button>       
                        <button class="relative my-1 py-3 w-full rounded-md bg-third font-semibold text-black dark:bg-thirdDark dark:text-white" type="button" aria-label="like">
                            <span class="uppercase">Lastname</span>
                            <span>Firstname</span>
                        </button>       
                        <button class="relative my-1 py-3 w-full rounded-md bg-third font-semibold text-black dark:bg-thirdDark dark:text-white" type="button" aria-label="like">
                            <span class="uppercase">Lastname</span>
                            <span>Firstname</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</html>
