<div class="course-card flex flex-col sm:flex-row my-4 text-left">
  <div class="flex-grow-0 mt-1 space-x-3 sm:space-x-0">
    <span class="course-start-time inline-block sm:block text-lg sm:text-2xl"></span>
    <span class="course-end-time inline-block sm:block text-lg text-fourth dark:text-fourthDark"></span>
  </div>
  <button type="button" class="course-btn flex-grow sm:ml-8 p-4 bg-third rounded-xl text-left dark:bg-thirdDark">
    <h3 class="course-name mt-1 font-bold text-2xl"></h3>
    <p class="course-room mt-1 text-sm"></p>
    <p class="course-class mt-4"></p>
    <p class="course-teacher"></p>
  </button>
</div>
