<script type="text/javascript" src="../resource/js/course/info.js" defer></script>

<div class="pb-4 border-b-2 border-light-gray-500 text-black dark:text-white">
    <div class="flex">
        <div class="flex flex-wrap self-center w-full space-x-2">
            <h3 id="course-name" class="flex font-bold text-2xl dark:text-fourthDark"></h3>
        </div>
        <div class="flex place-content-between justify-end space-x-1">
        <button id="btn-close-course" class="p-1 rounded-md bg-third text-second dark:bg-thirdDark dark:text-secondDark" type="button" aria-label="like">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
        </div>
    </div>
    <p id="course-class"></p>
    <p id="course-room"></p>
    <p id="course-teacher"></p>
    <p id="course-time"></p>
    <button id="btn-course-absences" class="mt-8 py-3 w-full rounded-md bg-second uppercase font-semibold text-main dark:bg-secondDark dark:text-fourthDark" type="button" aria-label="like">
        Manage absences
    </button>
</div>
<div class="py-4 border-b-2 border-light-gray-500 text-black dark:text-white">
    <h3 class="font-bold text-2xl dark:text-fourthDark">Notice</h3>
    <p class="text-sm">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
        non risus. Suspendisse lectus tortor, dignissim sit amet,
        adipiscing nec, ultricies sed, dolor. Cras elementum ultrices
        diam. Maecenas ligula massa, varius a, semper congue, euismod
        non, mi. Proin porttitor, orci nec nonummy molestie, enim est
        eleifend mi, non fermentum diam nisl sit amet erat.
    </p>
</div>
<div class="py-4 text-black dark:text-white">
    <h3 class="font-bold text-2xl dark:text-fourthDark">Homework</h3>
    <p class="text-sm">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
        non risus. Suspendisse lectus tortor, dignissim sit amet,
        adipiscing nec, ultricies sed, dolor. Cras elementum ultrices
        diam. Maecenas ligula massa, varius a, semper congue, euismod
        non, mi. Proin porttitor, orci nec nonummy molestie, enim est
        eleifend mi, non fermentum diam nisl sit amet erat.
    </p>
</div>