<div id="absences-management">
    <div class="grid mx-2.5 grid-cols-2 place-items-center pt-3 text-main dark:text-fourthDark">
        <button class="relative my-1 py-3 w-11/12 rounded-md font-semibold uppercase bg-second dark:bg-secondDark">
            missing
        </button>
        <button class="relative my-1 py-3 w-11/12 rounded-md font-semibold uppercase bg-second dark:bg-secondDark">
            late
        </button>
        <button class="relative my-1 py-3 w-11/12 rounded-md font-semibold uppercase bg-second dark:bg-secondDark">
            missing justifiy
        </button>
        <button class="relative my-1 py-3 w-11/12 rounded-md font-semibold uppercase bg-second dark:bg-secondDark">
            vacation
        </button>
        <button class="relative my-1 py-3 w-11/12 rounded-md font-semibold uppercase bg-second dark:bg-secondDark">
            rendez-vous
        </button>
        <button class="relative my-1 py-3 w-11/12 rounded-md font-semibold uppercase bg-second dark:bg-secondDark">
            support
        </button>
        <button class="relative my-1 py-3 w-11/12 rounded-md font-semibold uppercase bg-second dark:bg-secondDark">
            exclude
        </button>
        <button class="relative my-1 py-3 w-11/12 rounded-md font-semibold uppercase bg-second dark:bg-secondDark">
            home work not done
        </button>
    </div>
    <button class="relative my-1 py-3 w-11/12 rounded-md bg-second font-semibold text-main uppercase dark:bg-secondDark dark:text-fourthDark">
        missing justify off limits
    </button>
</div>