<div class="course-card flex flex-col my-4">
  <button type="button" class="course-btn flex-grow p-4 bg-third rounded-xl text-left dark:bg-thirdDark">
    <span class="course-start-time text-lg text-fourth dark:text-white"></span>
    <span class="text-lg text-fourth dark:text-white"> - </span>
    <span class="course-end-time text-lg text-fourth dark:text-white"></span>
    <h3 class="course-name mt-1 font-bold text-2xl"></h3>
    <p class="course-room mt-1 text-sm"></p>
    <p class="course-class mt-4"></p>
    <p class="course-teacher"></p>
  </button>
</div>
